# Archivos de datasets e imágenes
data_*/
results_*/

# Directorios de entrenamiento y resultados
runs/
wandb/
logs/
results/
checkpoints/

# Python
__pycache__/

# Notebooks
.ipynb_checkpoints
*.ipynb

# Otros
.DS_Store
*.zip
M_TEST
*.pt